@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family:'Poppins', sans-serif;
}

body {
    margin: 0;
    background-color: #efefef;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    padding: 10px;
    height: 50px;
    width: 100%;
    align-items: center;
    color: #000;
}

nav {
    display: flex;
    flex-direction: row;
}

nav ul{
    margin: 5px;
    display: flex;
    flex: auto;    
    justify-content: right;
    align-items: center ;
}

nav ul li{
    padding: 5px;
    list-style: none;
    color: #000;
    font-weight: bold;
}

a{
    text-decoration: none;
    text-decoration-line: none;
    font-size: 1.2rem;
}

a li:hover {
    color: #23802f;
}

a h1 {
    color: #000;
}

a h1:hover{
    color: #23802f;
}

.logo{
    padding: 7px;
}

.cover {
    width: 100%;
    color:white;
    height: 400px;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/cover.jpg);
    background-color: rgba(0, 0, 0,0.5);
    background-size: cover;
    background-position:center;
    background-blend-mode:darken;
}

.cover2 {
    color:white;
    height: 400px;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/cover2.jpg);
    background-color: rgba(0, 0, 0,0.5);
    background-size: cover;
    background-position:center;
    background-blend-mode:darken;
}

.container{
    margin-top: 20px;
    text-align: justify;
    font-size: 1.5em;
    columns: 2;
}

.container p{
    position: relative;
    float: left;
}

.container img{
    position: relative;
    float: right;
    width: 320px;
    height: 213px;
    margin-top: 20px;
}

.container-center {
    margin-top: 20px;
    text-align: center;
    font-size: 1.2em;
}

.btn-cover{
    color: white;
    background-color: #23802f;
    margin-top: 5px ;
    border: none;
    padding: 10px;
    border-radius: 10px;
}

.btn{
    color: white;
    background-color: #23802f;
    margin-top: 5px ;
    border: none;
    padding: 10px;
    border-radius: 10px;
}

.btn:hover {
    background-color: #B0884F;
}

.btn-cover:hover {
    background-color: #B0884F;
}

section {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.subtitulo {
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.paragraph {
    text-align: center;
    margin-right: 10px;
}

article p{
    font-size: 1.25rem;
}

.linkinis{
    font-size: 1.25rem;
}

.grillita{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.grillita img {
    width: 320px;
    height: 213px;
    margin-bottom: 10px;
}

iframe {
    width: 100%;
    margin-top: 10px;
}

.italic{
    font-style: italic;
}

.products {
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}

.product {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    padding: 15px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0,0.5);
    border-radius: 10px;
}

.img-products img{
    border-radius: 10px;
    width: 213.33px;
    height: 142.33px;
}

form{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 15px;
    padding: 20px;
    background-color: #efefef;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 1px 2px rgba(0, 0, 0,0.5);
    border-radius: 20px;
}

form input {
    border-radius: 5px;
}

footer{
    color: #000 ;
    font-style:italic;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid rgba(0, 0, 0,0.5) ;
}
