*{
    margin: 0;
    padding: 0;
}

body {
    min-width: 300px;
    background-color: #efefef;
    color: black;
    font: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    line-height: normal;
}

header {
    padding: 10px;
    border: 1px solid rgba(0, 0, 0,0.5);
    box-shadow: 1px 1px 1px rgba(0, 0, 0,0.5);
}

header nav ul {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: right;
    list-style: none;
    font-weight: bold;
    z-index: initial;
}

header nav ul li {
    margin-right: 20px;
}

h1 {
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
}

h2{
    margin-top: 10px;
    font-style: italic;
}

a{
    text-decoration: none;
    color: #000;
}

a:hover {
    color: cornflowerblue;
}

.container {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.containerx{
    margin-top: 20px;
    text-align: justify;
    font-size: 1.5em;
    columns: 2;
}

.containerx p{
    position: relative;
    float: left;
}

.containerx img{
    position: relative;
    float: right;
    width: 320px;
    height: 213px;
    margin-top: 20px;
}

p{
    text-align: justify;
}

table {
    background-color: rgba(150,200,150,0.5);
    caption-side: top;
    border: 1px solid #000;
    border-collapse: separate;
    padding: 10px;
}
